@charset "utf-8";
/*site-topbar*/
.topbar-con,.header-con,.banner-con,.case-con,.starproduct-con,.pagemin-con,.bottom-con,.footer{width:1226px;margin:0 auto;}

#topbar{width:100%;height:40px;background:#333;}
.topbar-con{height:40px;}
.topbar-con a{color:#b0b0b0;}
.topbar-con a:hover{color:#fff;}
.topbar-nav{float:left;height:40px;line-height:40px;font-size:12px;}
.topbar-nav a{padding:0 6px;}
.topbar-nav a:nth-child(1){padding:0 6px 0 0;}
.sep{color:#423b36;}
.topbar-cart{float:right;background:#424242;width:120px;height:40px;font-size:12px;text-align:center;line-height:40px;position:relative;}
.cart-mini i{font-size:14px!important;padding-right:3px;}
.topbar-cart:hover{background:#fff;}
.topbar-cart:hover .cart-mini{color:#ff6700;}
.cart-menu{width:330px;height:100px;text-align:center;font-size:12px;background:#fff;position:absolute;top:40px;right:0;}
.topbar-info{float:right;font-size:12px;line-height:40px;margin-right:17px;}
.topbar-info a{padding:0 8px;}
.user{position:relative;display:inline-block;height:40px;width:120px;}
.user-menu{position:absolute;background:#fff;top:40px;left:0;z-index:99;text-align:center;width:120px;box-shadow: 0 2px 10px rgba(0,0,0,0.15);padding:7px 0;line-height:30px;font-size:12px;}
.topbar-con .topbar-info .user a:hover{color:#FF6700;}
.topbar-con .topbar-info .user:hover{background: #fff;}
.user-menu li a{color:#757575;}
.user-menu li a:hover{color:#FF6700;}
.link-order{padding:0 5px}
/*header*/
#header{width:100%;height:100px;background:#fff;}
.header-con{height:100px;position:relative;}
.logo{height:78px;width:55px;float:left;padding-top:22px;}
.logo a{display:block;height:55px;height:55px;background:url(../img/index/logo.jpg) no-repeat center;}
.header-nav{float:left;margin-left:90px;height:100px;}
.header-nav>li{float:left;height:100px;line-height:100px;cursor:pointer;}
.header-nav>li>a{margin-right:20px;color:#333;font-size:16px;}
.header-nav>li>a:hover{color:#ff6700;}
.header-nav>li .item-children{position:absolute;width:1226px;top:100px;left:0px;border-top:1px solid #ccc;z-index:1000;background:#fff;height:auto;}
.header-nav>li .item-lists{padding:0 0 0 40px;}
.header-nav>li .item-lists li{font-size:16px;float:left;text-align:center;padding-bottom:30px;}
.header-nav>li .item-lists li .item-lists-img{display:block;height:110px;border-left:1px solid #ccc;margin-top:30px;}
.header-nav>li .item-lists .first .item-lists-img{border-left:0;}
.header-nav>li .item-lists li .item-lists-img img{width:160px;height:110px;}
.header-nav>li .item-lists li .title{font-size:12px;margin:20px 0 10px;line-height:12px;}
.header-nav>li .item-lists li .title a{color:#333;}
.header-nav>li .item-lists li .price{font-size:12px;line-height:12px;color:#FF6700;}
.header-search{float:right;height:75px;width:297px;padding-top:25px;position:relative;}
.header-search .txt{float:left;height:50px;width:245px;border:1px solid #e0e0e0;}
.header-search .btn{float:left;height:50px;width:51px;border:1px solid #e0e0e0;border-left:0;background:#fff;}
.search-hint{position:absolute;width:170px;height:18px;top:40px;left:63px;}
.search-hint a{display:block;color:#757575;font-size:12px;text-align:center;padding:0 5px;background:#eee;height:18px;}
.search-hint a:hover{background:#ff6700;color:#fff;}
.search-hint .hint-one{float:left;}
.search-hint .hint-two{float:right;}
/*banner*/
#banner{width:100%;height:460px;background:#fff;}
.banner-con{height:460px;position:relative;}
.slideshow{height:460px;width:1226px;position:relative;}
.slideli{position:absolute;top:0;left:0}
.tabctrl{position:absolute;height:430px;top:0;left:0;background:rgba(0,0,0,0.5);padding-top:30px;width:auto;}
.tabctrl>li{font-size:14px;padding:0 25px 0 30px;height:40px;line-height:40px;cursor:pointer;width:auto}
.tabctrl>li:hover{background:#ff6700;}
.tabctrl>li>a{color:#fff;font-weight:900;float:left;padding-right:35px;}
.tabctrl>li>i{color:#ccc;float:right;font-size:12px!important;}
.slidedot{position:absolute;right:35px;bottom:25px;}
.slidedot span{display:block;height:6px;width:6px;border:2px solid #5f6062;border-radius:10px;background:rgba(0,0,0,0.4);float:left;margin:0 5px;cursor:pointer;}
.slidedot span.active{border-color:#423B36;background:rgba(255,255,255,0.4);}
.slideleft{position:absolute;width:40px;height:70px;top:195px;left:235px;background:rgba(0,0,0,0);border-top-right-radius:3px;border-bottom-right-radius:3px;cursor:pointer;line-height:70px;}
.slideright{position:absolute;width:40px;height:70px;top:195px;right:0;background:rgba(0,0,0,0);border-top-left-radius:3px;border-bottom-left-radius:3px;cursor:pointer;line-height:70px;}
.slideright i{font-size:30px!important;color:#ccc;padding-left:10px;}
.slideleft i{font-size:30px!important;color:#ccc;padding-left:3px;}
.tab-children{position:absolute;top:0;left:235px;border-top:1px solid #e0e0e0;height:459px;background:#fff;}
.tab-children-ul{float:left;width:246px;height:459px;}
.tab-children-ul li{width:246px;height:76px;}
.tab-children-ul li a{display:block;padding:17px 20px;line-height:40px;color:#333;position:relative;}
.tab-children-ul li a img{margin-right:12px;vertical-align:middle;width:40px;height:40px;display:inline-block;}
.tab-children-ul li a span{line-height:40px;}
/*case*/
#case{width:100%;height:184px;background:#fff;}
.case-con{height:170px;padding-top:14px;}
.case-con div{float:left;margin-left:14px;}
.case-con .case-option{width:235px;height:170px;background:#5f5750;margin-left:0;}
.option-tab-list{width:70px;height:82px;padding:0 3px;float:left;text-align:center;}
.option-tab-list a{color:#cdcac8;font-size:14px;display:inline-block;padding-top:18px;}
.option-tab-list a i{font-size:25px!important;display:block;}
.max2,.note5a,.p1080{display:block;width:316px;height:170px;}
.max2{background:url(../img/index/xmad_14982250861854_iDbOz.jpg) no-repeat center;background-size:100% 100%;}
.note5a{background:url(../img/index/xmad_15045271341386_ATWPl.jpg) no-repeat center;background-size:100% 100%;}
.p1080{background:url(../img/index/xmad_15095081181632_veEwQ.jpg) no-repeat center;}
/*starproduct*/
#starproduct{width:100%;height:465px;background:#fff;}
.starproduct-con{height:465px;}
.starproduct-con h2{padding:44px 0 19px 0;font-size:22px;}
.starproduct-con span{float:right;}
.starproduct-con span i{font-size:14px!important;color:#CCCCCC;display:inline-block;float:left;width:22px;height:17px;border:1px solid #ccc;padding-top:5px;padding-left:12px;font-weight:900;}
.starproduct-con span .stari2{border-left:0;color:#757575;}
.starproduct-con-case{height:340px;overflow:hidden;}
.starpro-radio{height:340px;width:2480px;}
.starpro-radio li{float:left;margin-right:14px;border-top:1px solid #FF6700;padding-top:39px;background:#f5f5f5;height:300px;width:234px;}
.starpro-radio li>a{display:block;margin:0 37px 22px 37px;width:160px;height:166px;}
.starpro-radio li>a img{width:160px;}
.starpro-radio li h3{margin:0 20px 3px;text-align:center;}
.starpro-radio li h3 a{color:#333;font-size:14px;}
.starpro-radio li .radio-item-intro{font-size:12px;margin:0 20px 12px;height:18px;color:#b0b0b0;text-align: center;}
.starpro-radio li .radio-item-price{color:#ff6709;text-align:center;font-size:14px;}
/*pagemin*/
#pagemin{width:100%;min-height:5250px;_height:5250px;background:#f5f5f5;}
.pagemin-con{min-height:5250px;_height:5250px;}
.floors{height:686px;margin-bottom:8px;}
.floors .floor-title{position:relative;height:58px;}
.floors .floor-title .title{font-size:22px;;line-height:58px;}
.floors .floor-title .tab-more{position:absolute;padding-top:16px;top:0;right:0;font-size:16px;}
.floors .floor-title .tab-more li{float:left;margin-left:30px;height:24px;cursor:pointer;}
.floors .floor-title .tab-more li.tab-active{color:#ff6700;border-bottom:2px solid #ff6700;}
.floor-con .floor-con-1{float:left;width:234px;}
.floor-con-1 .floor-con-1-list{float:left;margin-bottom:14px;}
.floor-con-1 .floor-con-1-list a img{width:234px;}
.floor-con .floor-con-2 .brick{float:left;margin-left:14px;margin-bottom:14px;height:246px;padding:34px 0 20px;text-align:center;background:#fff;width:234px;position:relative;overflow:hidden;}
.floor-con-2{width:992px;height:614px;float:left;}
.floor-con-2 .brick .floor-con-img{display:inline-block;}
.floor-con-2 .brick img{width:150px;height:150px;}
.floor-con-2 .brick .floor-con-title a{font-size:14px;color:#333;}
.floor-con-2 .brick .desc{margin:0 10px 10px;font-size:12px;height:18px;color:#b0b0b0;}
.floor-con-2 .brick .price{margin:0 10px 10px;font-size:14px;color:#ff6700;}
.floor-con .floor-con-2 .brick-s{height:93px;padding:50px 0 0;position:relative;}
.floor-con-2 .brick-s .brick-s-img{display:inline-block;width:80px;height:80px;position:absolute;right:20px;top:32px;}
.floor-con-2 .brick-s .brick-s-img img{width:80px;height:80px;}
.floor-con-2 .brick-s .floor-con-title{margin: -10px 110px 5px 30px;}
.floor-con-2 .brick-s .price{margin: 0 110px 0 30px;}
.floor-con-2 .brick-s .brick-s-icon{position: absolute;right: 35px;top: 48px;width: 48px;height: 48px;color:#333;}
.floor-con-2 .brick-s .brick-s-icon i{font-size:48px;line-height:48px;}
.floor-con-2 .brick-s .brick-s-more{display:block;margin:0 110px 0 30px;font-size:18px;color:#333;}
.floor-con-2 .brick-s .brick-s-more small{display:block;font-size:12px;color:#757575;}
.rank{position:absolute;left:0;top:300px;font-size:12px;line-height:24px;background:#FF6700;padding:0 20px;color:#fff;}
/*recommend*/
.recommend{height:358px;margin-bottom:22px;overflow:hidden;}
.recommend .tab-more{width:72px;height:25px;}
.recommend .tab-more a{display:block;width:24px;height:16px;padding:3px 5px;border:1px solid #e0e0e0;font-size:16px;line-height:16px;color:#b0b0b0;text-align:center;float:left;}
.recommend-ul{width:2500px;}
.recommend-list{text-align:center;width:235px;height:246px;padding:34px 0 20px;background:#fff;float:left;margin-left:14px;}
.recommend-list-1{margin-left:0;}
.recommend-list .recommend-list-img{display:inline-block;width:140px;height:140px;margin-bottom:15px;}
.recommend-list .recommend-list-img img{height:140px;width:140px;}
.recommend-list .recommend-list-title{margin-bottom:10px;height:18px;}
.recommend-list .recommend-list-title a{font-size:14px;color:#333;}
.recommend-list .recommend-list-price{font-size:12px;color:#ff6700;margin-bottom:10px;}
.recommend-list .recommend-list-tips{font-size:14px;color:#333;}

.hotproduct{height:473px;margin-bottom:22px;}
.hotproduct .hot-title{font-size:22px;line-height:58px;}
.hot-list{float:left;margin-left:14px;height:415px;width:296px;background:#fff;}
.hot-list-1{margin-left:0;}
.hot-list .list-img{display:block;height:220px;width:296px;margin-bottom:28px;}
.hot-list .list-img img{height:220px;width:296px;}
.hot-list .review{height:72px;margin:0 28px 22px;font-size:14px;line-height:24px;}
.hot-list .autor{font-size:12px;height:18px;margin:0 28px 8px;padding:0 10px 0 0;color:#b0b0b0;}
.hot-list .info{margin:0 30px;}
.hot-list .info .tlt{display:inline-block;font-size:14px;color:#333;}
.hot-list .info .sep{color:#e0e0e0;}
.hot-list .info .price{display:inline;color:#ff6700;}

.content{height:478px;margin-bottom:22px;}
.content-title{font-size:22px;line-height:58px;}
.content-item{margin-left:14px;width:296px;height:374px;padding-top:45px;border-top:1px solid #ffac13;background:#fff;position:relative;float:left;}
.content-item-1{margin-left:0;}
.content-item .title{margin:0 10px 18px;font-size:16px;color:#ffac13;text-align:center;}
.item-con{width:296px;height:340px;overflow:hidden;}
.item-list{width:1184px;}
.item-list li{float:left;width:296px;height:340px;}
.item-list li .name{margin: 0 20px 5px;font-size: 20px;font-weight: 400;line-height: 1.25;text-align:center;}
.item-list li .name a{color:#333;}
.item-list li .desc{margin: 0 48px 10px;height: 40px;font-size: 12px;line-height: 20px;text-align: center;}
.item-list li .desc a{color:#b0b0b0;}
.item-list li .price{height: 21px;margin: 0 10px 15px;text-align: center;}
.item-list li .price a{color:#333;font-size:14px;}
.item-list-img{display:block;width:216px;height:154px;margin:0 auto;}
.item-list-img img{width:216px;height:154px;}
.item-pager{position:absolute;bottom:25px;left:85px;}
.item-pager li{float:left;height:6px;width:6px;border:2px solid #fff;background:#b0b0b0;border-radius:6px;margin:0 10px;cursor:pointer;}
.item-pager li.pager-active{border:2px solid #FF6700;background:#fff;}

.video{height:343px;position:relative;}
.video-title h2{font-size:22px;line-height:58px;}
.video-title a{font-size:16px;color:#424242;position:absolute;right:0;top:16px;}
.video-title a i{font-size:18px!important;padding-left:5px;}
.video-item{height:285px;width:296px;background:#fff;margin-left:14px;float:left;text-align:center;position:relative;}
.video-item-1{margin-left:0;}
.video-item-img{display:block;width:296px;height:180px;margin-bottom: 28px;}
.video-item-img img{width:296px;height:180px;}
.video-item .title{font-size:14px;margin-bottom:6px;text-align: center;}
.video-item .title a{color:#000000;}
.video-item .desc{height:18px;font-size:12px;text-align:center;color:#b0b0b0;}
.play{position:absolute;width:32px;height:20px;border:2px solid #fff;border-radius:12px;left:20px;top:145px;line-height: 20px;text-align:center;}
.play i{color:#fff;}
.play:hover{background:#FF6700;border-color:#FF6700;}
/*bottom*/
#bottom{width:100%;height:272px;background:#fff;}
.bottom-con{height:272px;}
.bottom-service{padding:27px 0;border-bottom:1px solid #e0e0e0;}
.service-list li{float:left;height:25px;width:19.8%;font-size:16px;line-height:25px;text-align:center;border-left:1px solid #e0e0e0;}
.service-list .service-list-1{border-left:0;}
.service-list li a{color:#333;}
.service-list li a i{font-size:24px!important;line-height:24px;margin-right:6px;}
.bottom-link{padding:40px 0;}
.col-links{float: left;width: 160px;height: 112px;}
.col-links dt{margin: -1px 0 26px;font-size: 14px;line-height: 1.25;color: #424242;}
.col-links dd{margin: 10px 0 0;font-size: 12px;}
.col-links dd a{color:#757575;}
.col-contact{float: right;width: 251px;height: 112px;border-left: 1px solid #e0e0e0;text-align: center;color: #616161;}
.col-contact .phone{margin: 0 0 5px;font-size: 22px;line-height: 1;color: #ff6700;}
.col-contact p{margin: 0 0 16px;font-size: 12px;}
.col-contact .contact-btn{display:inline-block;width: 118px;height: 28px;font-size: 12px;line-height: 28px;color: #ff6700;border:1px solid #FF6700;}
.col-contact .contact-btn:hover{background:#FF6700;color:#fff;}
/*footer*/
#footer{width:100%;height:166px;background:#f5f5f5;}
.footer{height:136px;padding-top:30px;}
.footer-logo{float: left;width: 57px;height: 57px;margin-right: 10px;background:url(../img/index/logo.jpg) no-repeat 50% 50%;}
.info-text{float:left;color: #b0b0b0;}
.info-site{line-height:18px;font-size:12px;}
.info-site a{color:#757575;}
.info-site span{color:#b0b0b0;margin:0 3px;} .banquan{font-size:12px;}
.banquan a{color:#757575;line-height:18px;}
.info-links{float:right;line-height:28px;margin:4px 0 0;}
.info-links a{float:left;margin-left:3px;}
.info-links a img{width:83px;height:28px;}
.slogan{width:267px;height:19px;margin:85px auto 0;color:#b0b0b0;font-size:18px;}
/*楼梯*/
#LoutiNav{
	position: fixed;
	top: 25%;
	left: 0;
	width:25px;
	border: 1px dashed #ccc;
	color:#757575;
	display: none;
}
#LoutiNav ul li{
	position:relative;
	width:25px;
	height:30px;
	list-style:none;
	text-align:center;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px dotted #AAAAAA;
}
#LoutiNav ul li.last {
	background: #FF6700;
	color: white;
	border-bottom: none;
}
#LoutiNav ul li span{
	display: none;
	width:25px;
	height: 30px;
	position: absolute;	
	top: 0;
	left: 0;
	color:#FF6700;
}
#LoutiNav ul li:hover span{
	display: block;
	background: #FF6700;
	color: white;
}
#LoutiNav ul li span.active {
	display: block;
	background: white;
	color: #FF6700;
}
#LoutiNav ul li:hover span.active{
	display: block;
	background: #FF6700;
	color: white;
}