@charset "utf-8";
/*site-topbar*/
.topbar-con,.header-con,.banner-con,.case-con,.starproduct-con{width:1226px;margin:0 auto;}

#topbar{width:100%;height:40px;background:#333;}
.topbar-con{height:40px;}
.topbar-con a{color:#b0b0b0;}
.topbar-con a:hover{color:#fff;}
.topbar-nav{float:left;height:40px;line-height:40px;font-size:12px;}
.topbar-nav a{padding:0 6px;}
.topbar-nav a:nth-child(1){padding:0 6px 0 0;}
.sep{color:#423b36;}
.topbar-cart{float:right;background:#424242;width:120px;height:40px;font-size:12px;text-align:center;line-height:40px;position:relative;}
.cart-mini i{font-size:14px!important;padding-right:3px;}
.topbar-cart:hover{background:#fff;}
.topbar-cart:hover .cart-mini{color:#ff6700;}
.cart-menu{width:330px;height:100px;text-align:center;font-size:12px;background:#fff;position:absolute;top:40px;right:0;}
.topbar-info{float:right;font-size:12px;line-height:40px;margin-right:17px;}
.topbar-info a{padding:0 8px;}
/*header*/
#header{width:100%;height:100px;background:#fff;}
.header-con{height:100px;}
.logo{height:78px;width:55px;float:left;padding-top:22px;}
.logo a{display:block;height:55px;height:55px;background:url(../img/index/logo.jpg) no-repeat center;}
.header-nav{float:left;margin-left:90px;height:100px;}
.header-nav li{float:left;height:100px;line-height:100px;cursor:pointer;}
.header-nav li a{margin-right:20px;color:#333;font-size:16px;}
.header-nav li a:hover{color:#ff6700;}
.header-search{float:right;height:75px;width:297px;padding-top:25px;position:relative;}
.header-search .txt{float:left;height:50px;width:245px;border:1px solid #e0e0e0;}
.header-search .btn{float:left;height:50px;width:51px;border:1px solid #e0e0e0;border-left:0;background:#fff;}
.search-hint{position:absolute;width:170px;height:18px;top:40px;left:63px;}
.search-hint a{display:block;color:#757575;font-size:12px;text-align:center;padding:0 5px;background:#eee;height:18px;}
.search-hint a:hover{background:#ff6700;color:#fff;}
.search-hint .hint-one{float:left;}
.search-hint .hint-two{float:right;}
/*banner*/
#banner{width:100%;height:460px;background:#fff;}
.banner-con{height:460px;position:relative;}
.slideshow{height:460px;width:1226px;position:relative;}
.slideli{position:absolute;top:0;left:0}
.tabctrl{position:absolute;width:235px;height:430px;top:0;left:0;background:rgba(0,0,0,0.5);padding-top:30px;}
.tabctrl li{width:180px;font-size:14px;padding:0 25px 0 30px;height:40px;line-height:40px;cursor:pointer;}
.tabctrl li:hover{background:#ff6700;}
.tabctrl li a{color:#fff;font-weight:900;float:left;}
.tabctrl li i{color:#ccc;float:right;font-size:12px!important;}
.slidedot{position:absolute;right:35px;bottom:25px;}
.slidedot span{display:block;height:6px;width:6px;border:2px solid #5f6062;border-radius:10px;background:rgba(0,0,0,0.7);float:left;margin:0 3px;cursor:pointer;}
.slideleft{position:absolute;width:40px;height:70px;top:195px;left:235px;background:rgba(0,0,0,0.4);border-top-right-radius:3px;border-bottom-right-radius:3px;cursor:pointer;line-height:70px;}
.slideright{position:absolute;width:40px;height:70px;top:195px;right:0;background:rgba(0,0,0,0.4);border-top-left-radius:3px;border-bottom-left-radius:3px;cursor:pointer;line-height:70px;}
.slideright i{font-size:30px!important;color:#ccc;padding-left:10px;}
.slideleft i{font-size:30px!important;color:#ccc;padding-left:3px;}
/*case*/
#case{width:100%;height:184px;background:#fff;}
.case-con{height:170px;padding-top:14px;}
.case-con div{float:left;margin-left:14px;}
.case-con .case-option{width:235px;height:170px;background:#5f5750;margin-left:0;}
.option-tab-list{width:70px;height:82px;padding:0 3px;float:left;text-align:center;}
.option-tab-list a{color:#cdcac8;font-size:14px;display:inline-block;padding-top:18px;}
.option-tab-list a i{font-size:25px!important;display:block;}
.max2,.note5a,.p1080{display:block;width:316px;height:170px;}
.max2{background:url(../img/index/xmad_14982250861854_iDbOz.jpg) no-repeat center;background-size:100% 100%;}
.note5a{background:url(../img/index/xmad_15045271341386_ATWPl.jpg) no-repeat center;background-size:100% 100%;}
.p1080{background:url(../img/index/xmad_15095081181632_veEwQ.jpg) no-repeat center;}
/*starproduct*/
#starproduct{width:100%;height:465px;background:#fff;}
.starproduct-con{height:465px;}
.starproduct-con h2{padding:44px 0 19px 0;font-size:22px;}
.starproduct-con span{float:right;}
.starproduct-con span i{font-size:14px!important;color:#ccc;display:inline-block;float:left;width:22px;height:17px;border:1px solid #ccc;padding-top:5px;padding-left:12px;font-weight:900;}
.starproduct-con span .stari2{border-left:0;}
.starpro-radio li{float:left;margin-right:14px;border-top:1px solid #FF6700;padding-top:39px;}
.starpro-radio li>a{display:block;margin:0 37px 22px 37px;width:160px;height:166px;}
.starpro-radio li  a img{width:160px;}
.starpro-radio li h3{margin:0 20px 3px;text-align:center;}
.starpro-radio li h3 a{color:#333;font-size:14px;}
.starpro-radio li .radio-item-intro{}

